{% extends 'base.html' %}

{% block conteudo %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />        

    </head>
    <body style ="background-color: #181818; font-family: 'Ubuntu', sans-serif;">

    <h1 style ="color: #fdfdfd; margin-top: 10px;">Lista de pessoas cadastradas</h1>

    <p>
        <a href="{% url 'pessoa.criar' %}" class="btn btn-success" style="margin-top: 5px; margin-bottom: 5px;background-color: #6700ab; width: 250px; padding: 10px; border: none; font-size: 20px;">Cadastrar pessoa</a>
    </p>

    <table class="table table-hover table-sm" style = "background-color: #fdfdfd; border:#181818;" >
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Codigo da Carteira de Habilitação</th>
            <th style="width:1px;white-space: nowrap;">Ações</th>
        </tr>

        {% for p in pessoa %}
            <tr>
                <td>{{ p.codigo }}</td>
                <td>{{ p.nome }}</td>
                <td>{{ p.cpf }}</td>
                <td>{{ p.CartHab.numeroHab }}</td>
                <td style="width:1px;white-space: nowrap;">
                    <a href="{% url 'pessoa.editar' p.codigo %}" class="btn btn-sm btn-warning" title="Editar categoria">Editar</a>

                    <a href="{% url 'pessoa.excluir' p.codigo %}" class="btn btn-sm btn-danger" title="Excluir">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="{% url 'home2' %}" class="btn btn-success" style="margin-top: 5px; margin-bottom: 5px;background-color: #ff0000; width: 250px; padding: 10px; border: none;">Retornar à página principal</a>
    </p>

    </body>
{% endblock %}